* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, 
body {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#formContainer {
    width: 50%;
}

#header {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

#form {
    display: flex;
    margin: 0.5rem 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

#form input {
    margin: 8px 16px;
    padding: 10px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 6px;
    font-size: 1rem;
}

#form input:focus {
    outline: none;
    border: 1px solid rgb(165, 222, 240);
    box-shadow: 0 0 5px rgb(165, 222, 240);
}

[type="text"],
[type="password"] {
    flex-grow: 1;
}

[type="tel"],
[type="email"] {
    width: 100%;
}

#terms {
    display: flex;
}

#checkbox {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

#checkbox input {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    border: 1px solid black;
    border-radius: 0;
    width: 14px;
    height: 14px;
}

#checkbox input:checked {
    -moz-appearance: auto;
    -webkit-appearance: auto;
    -o-appearance: auto;
}

#checkbox label {
    font-weight: bold;
}

.termsText {
    margin-right: 2rem;
    width: 60%;
}

.termsText span {
    color: white;
    background-color: rgb(53, 136, 231);
    border-radius: 3px;
    padding: 2px 9px;
    font-size: 0.9rem;
}

.termsText a {
    text-decoration: none;
    color: rgb(53, 136, 231);
}

.termsText a:hover {
    text-decoration: underline;
}

#btnContainer {
    display: flex;
    margin: 0.5rem 2rem;
    gap: 32px;
    justify-content: center;
}

#btnContainer button {
    flex-grow: 1;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 12px;
    font-size: 1.3rem;
}

.registerBtn {
    background-color: rgb(53, 136, 231);
}

.signinBtn {
    background-color: rgb(94, 194, 94);
}

@media (max-width: 1005px) {
    #form input[type="text"],
    #form input[type="password"] {
        flex-grow: 0;
        width: calc(40vw - 70px);
  }
  
    #formContainer {
    width: 80%;
  }
}

@media (max-width: 800px) {
    #form input[type="text"],
    #form input[type="password"] {
        flex-grow: 0;
        width: calc(50vw - 70px);
  }
  
    #formContainer {
    width: 100%;
  }
}